@using FutterlisteNg.Data.Model
@using FutterlisteNg.Domain.Service
@using FutterlisteNg.Web.Components
@using FutterlisteNg.Web.Service
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IPaymentService PaymentService
@inject IToastService ToastService

<EditForm Model="@Payment" OnValidSubmit="@OnSubmit">
    <FluentValidationValidator ValidatorType="@ValidatorType" />

    <div class="row">
    <div class="col s6 payment-container">
        <div class="input-field">
            <InputText id="payed-by" @bind-Value="@Payment.PayedBy" />
            <label class="active" for="payed-by">Payed by</label>
            <span class="helper-text"><ValidationMessage For="@(() => Payment.PayedBy)" /></span>
        </div>
        <div class="input-field">
            <InputText id="description" class="validate" @bind-Value="@Payment.Description" />
            <label class="active" for="description">Description</label>
            <span class="helper-text"><ValidationMessage For="@(() => Payment.Description)" /></span>
        </div>

        <p><b>Total:</b> @Payment.TotalAmount</p>

        <button class="btn waves-effect waves-light" type="submit">
            @SubmitButtonText
        </button>
    </div>
    <div class="col s6">
        <table>
        <thead>
            <tr>
                <th>Payed For</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paymentLine in Payment.PaymentLines)
            {
            <tr>
                <td>
                    <InputText id="payed-for" type="text" @bind-Value="@paymentLine.PaidFor" />
                    <span class="helper-text"><ValidationMessage For="@(() => paymentLine.PaidFor)" /></span>
                </td>
                <td>
                    <InputNumber id="amount" @bind-Value="@paymentLine.Amount"/>
                    <span class="helper-text"><ValidationMessage For="@(() => paymentLine.Amount)" /></span>
                </td>
                <td>
                    <DeleteButton OnClick="(() => RemovePaymentLine(paymentLine))"/>
                </td>
            </tr>
            }
        </tbody>
        </table>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <button class="btn btn-add-row" type="button" name="action" @onclick="InsertNewPaymentLine">
                    <span>Add New Row</span>
                </button>
            </div>
        </div>
    </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public Payment Payment { get; set; } = new Payment();

    [Parameter] 
    public string SubmitButtonText { get; set; }
    
    [Parameter]
    public Type ValidatorType { get; set; }
    
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    private void InsertNewPaymentLine()
    {
        Payment.PaymentLines.Add(new PaymentLine(null, 0));
    }

    private void RemovePaymentLine(PaymentLine paymentLine)
    {
        Payment.PaymentLines.Remove(paymentLine);
    }
}